<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cloudVersion</key>
	<string>94B1D95E-BAE3-408D-9D1D-D70DE6A348B1</string>
	<key>storeUUID</key>
	<string>31F47809-1F8E-417F-9D56-09D9F3BEBF6F</string>
</dict>
</plist>
